<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <h1>Blog</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}} <!-- This is where the content of each handlebars template will be inserted -->
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <footer>
    <p>© 2023 Blog. All rights reserved.</p>
  </footer>
  
</body>
</html>
