{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  {{#each posts}}
    <div class="card">
    <div class="card-header">
        <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
    </div>
    </div>
  {{/each}}
</section>
{{/if}}

<button type="submit" class="btn">
  <a class="link" href="/dashboard/new">+ New Post</a> <!-- Create a link to the '/dashboard/new' route -->
</button>

<script src="/js/create-post.js"></script> <!-- Include the 'add-post.js' JavaScript file -->
